* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #eff4fd;
    list-style: none;
    overflow: scroll;
}

.hero {
    width: 100%;
    height: 100%;
    position: relative;
}

nav {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    background-color: #636265;
}

.logo {
    cursor: pointer;
    margin: 20px;
    background-color: #636265;
}

nav ul {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 40px;
    background-color: #636265;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    background-color: #636265;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    background-color: #636265;
    color: #cdced4;
}

nav ul li a:hover {
    color: orange;
}

.detel {
    margin-left: 8%;
    margin-top: 10%;
    margin-right: 8%;
    margin-bottom: 2%;
}

.detel h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

.chngclr {
    color: orange;

}

.detel p {
    color: #555;
    line-height: 22px;
}

.detel a {
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #cdced4;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.detel a:hover {
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    color: orange;
    box-shadow: 0 14px 28px bisque, 0 10px 10px beige;
}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape {
    bottom: 40px;
}

.images:hover .boy {
    left: 45%;
}

.social {
    margin-left: 8%;
    margin-top: 5%;
    margin-right: 8%;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
}

.social a {
    font-size: 30px;
    color: #212121;
    margin-right: 20px;
}

.social a:hover {
    color: orange;
}

.image {
    height: 300px;
    width: 300px;
    margin: 5px;
    border-radius: 200px;

}

.image:hover {
    box-shadow: 0 14px 28px bisque, 0 10px 10px orange;
}

.container {
    display: block;
}

.profile {
    margin: 20px;
    box-shadow: 0 0 0 #212121, 0 0 0 #000;
}

.cSkills {
    text-transform: uppercase;
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    background-color: #636265;
}

.cSkills h1 {
    text-align: center;
    background-color: #636265;
}

.cSkills h3 {
    text-align: left;
    margin: 5px;
    background-color: #636265;
}

.cSkills li {
    margin: 20px 0;
    padding: 10px;
    background-color: #636265;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}

.html {
    width: 65%;
    animation: html 3s;
}

.css {
    width: 55%;
    animation: css 3s;
}

.kotlin {
    width: 90%;
    animation: kotlin 3s;
}

.java {
    width: 75%;
    animation: java 3s;
}

.python {
    width: 80%;
    animation: python 3s;
}

.aad {
    width: 90%;
    animation: aad 3s;
}

.web {
    width: 60%;
    animation: web 3s;
}

.chngclrskl {
    color: orange;
    background-color: #636265;

}

.pSkills {
    text-transform: uppercase;
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    background-color: #636265;
}

.pSkills h1 {
    text-align: center;
    background-color: #636265;
}

.pSkills h3 {
    text-align: left;
    margin: 5px;
    background-color: #636265;
}

.pSkills li {
    margin: 20px 0;
    padding: 10px;
    background-color: #636265;
}

.eng {
    width: 95%;
    animation: eng 3s;
}

.hindi {
    width: 75%;
    animation: hindi 3s;
}

.tlg {
    width: 90%;
    animation: tlg 3s;
}

.pmp {
    width: 75%;
    animation: pmp 3s;
}

.ldsk {
    width: 80%;
    animation: python 3s;
}

.sfsk {
    width: 90%;
    animation: aad 3s;
}

.timeline-section {
    background-color: #eff4fd;
    min-height: 100vh;
    padding: 100px 15px;
}

.timeline-items {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #eaa023;
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 16px;
    width: 16px;
    background-color: #eaa023;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 18px;
    color: #eaa023;
    margin: 6px 0 15px;
}

.timeline-content {
    background-color: #636265;
    padding: 30px;
    border-radius: 5px;
}

.timeline-content:hover {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.75), 0 20px 20px rgba(0, 0, 0, 0.22)
}

.timeline-content h3 {
    font-size: 20px;
    color: #fff;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
    background-color: #636265;
}

.timeline-content p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    background-color: #636265;
}

/* responsive */
@media(max-width: 767px) {
    .timeline-items::before {
        left: 7px;
    }

    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }

    .timeline-dot {
        left: 0;
    }
}

.skills {
    display: grid;
    grid-template-columns: 49% 49%;
    margin: 40px;
}